@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;500;700;900&family=Poppins:wght@300;500;700;900&display=swap");
:root {
  --primaryColor: #38cb89;
  --secondaryColor: black;
  --thirdColor: white;
  --forthColor: #141718;
  --primaryFont: "Poppins";
  --secondaryFont: "Inter";
  --defaultPadding: 0 160px;
  --firstMargin: 48px;
  --secondMargin: 80px;
  --headerTitle: 72px;
  --sectionTitle: 40px;
  --productTitle: 16px;
  --priceTitle: 14px;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}
body {
  font-family: "Inter", "Poppins" sans-serif;
}
nav {
  display: flex;
  padding: 15px 180px;
  justify-content: space-between;
  align-items: center;
  font-family: var(--primaryFont);
}
nav h1 {
  font-size: 28px;
  font-weight: bold;
}
nav a {
  color: var(--forthColor);
  transition: 0.5s;
}
nav a:hover {
  color: var(--primaryColor);
}
nav ul {
  display: flex;
  align-items: center;
}
nav ul li {
  font-size: var(--productTitle);
  font-weight: bold;
  margin: 0 15px;
}
nav ul li i {
  font-size: 18px;
}

/* section {
  height: calc(100vh - 65px);
}
section.slider_section {
  background-image: url(../asset/img/header/Paste\ image.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
} */
